#heading{
    color: red;
}

.HeaderComponent{
    display: flex;
    height: 50px;
    justify-content: space-evenly;
}

.search{
    display: flex;
    align-self: center;
    padding: 4px 2px;
    border: 2px groove rgb(119, 125, 3);
    border-radius: 4px;
    color: cadetblue;
}